@if (!range()) {
<div class="form_control">
    <div class="form_control_container">
        <input #fromInput class="form_control_container__time__input" type="number" id="fromInput" [value]="minValue()"
            [min]="min()" [max]="max()" (input)="handleMin($event)" />
    </div>
</div>
<div class="sliders_control">
    @if (steps()) {
    <input #fromSlider id="min" type="range" [value]="minValue()" [min]="min()" [max]="max()"
        (input)="handleMin($event)" [step]="stepValue()" />
    } @else {
    <input #fromSlider id="min" type="range" [value]="minValue()" [min]="min()" [max]="max()"
        (input)="handleMin($event)" />
    }
</div>
} @else {
<div class="range_container">
    <div class="form_control">
        <div class="form_control_container">
            <input #fromInput class="form_control_container__time__input" type="number" id="fromInput"
                [value]="minValue()" [min]="min()" [max]="max()" (input)="handleMin($event)" />
        </div>
        <div class="form_control_container">
            <input #toInput class="form_control_container__time__input" type="number" id="toInput" [value]="maxValue()"
                [min]="min()" [max]="max()" (input)="handleMax($event)" />
        </div>
    </div>
    <div class="sliders_control">
        <input #fromSlider id="fromSlider" type="range" [value]="minValue()" [min]="min()" [max]="max()"
            (input)="handleMin($event)" />
        <input #toSlider id="toSlider" type="range" [value]="maxValue()" [min]="min()" [max]="max()"
            (input)="handleMax($event)" />
    </div>
</div>
}