.container {
  display: flex;
  min-height: 100vh;
  max-width: 1140px;
  margin: 0 auto;
  > div {
    flex: 1 1 auto;
    padding: 0.5em 1em;
  }

  .filters {
    width: 200px;
    border-right: 2px solid;
    flex: 0 0 auto;
    text-align: center;
  }

  .products-list {
    display: flex;
    flex-wrap: wrap;

    .product {
      flex: 1 1 100%;

      @media (min-width: 560px) {
        flex: 1 1 50%;
      }
      @media (min-width: 768px) {
        flex: 1 1 33.3333%;
      }
    }
  }
}
