<!-- <router-outlet /> -->
<div class="container">
  <div class="filters">
    <h1>Filters</h1>

    <app-filter [min]="min" [max]="max" [range]="false"></app-filter>
    <app-filter [min]="min" [max]="max" [range]="false" [steps]="true"></app-filter>
    <app-filter [min]="min" [max]="max" [range]="true"></app-filter>
  </div>
  <div>
    <h1>Product list</h1>
    <div class="products-list">
      @for (product of products(); track product.id) {
      <div class="product">
        <h2>{{ product.title}}</h2>
        <p>{{product.description}}</p>
        <p>{{product.price}} €</p>
      </div>
      }
    </div>
  </div>
</div>